@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --w1:#f8f9fb;
    --w2:#ffffff;

    --b1:#1a2036;
    --b2:#212940;

    /* light theme */
    --bsl: 0 0 15px rgba(33, 41, 64,.1);
    /* dark theme */
    --bsd: 0 0 15px rgba(248, 249, 251, .1);

    --r1: #FF0000;
    --r2: #F14949;
    --r3: #e76666;
}
:fullscreen{
    background-color: var(--g3);
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--b1);
    box-sizing: border-box;
}
h1{
    font-size: 18px;
}
a{
    text-decoration: none;
}

.logout{
    cursor: pointer;
}
body{
    background-color: var(--w1);
}



/* Button */
.btn{
    width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    background-color: var(--w1);
    border: 1px solid var(--b2);
    color: var(--b2);
    transition: 0.3s;
    cursor: pointer;
}
.btn *{
    color: inherit;
}
.btn:hover{
    background-color: var(--b2);
    color: var(--w1);
}
.btn:hover *{
    color: var(--w1);
}
.btn-primary{
    background: var(--b1);
    color: var(--w1);
}
.btn-primary *{
    color: var(--w1);
}
.btn-main{
    border: 1px solid var(--g2);
    background: var(--w1);
    color: var(--g2);
}
.btn-main:hover{
    background-color: var(--g2);
    color: var(--w1);
}
.btn-main:hover *{
    color: var(--w1);
}
/* Button end */


/* Table configure */
/* table{
    table-layout: fixed;
} */
td{
    word-wrap: break-word;
}
.even{
    background: var(--w1);
}
/* Table configure end */

.container-pagination{
    width: 100% !important;
}